@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* (62.5/100) * 16px = 10px */
	-webkit-text-size-adjust: none; /* for iOS Safari */
	text-size-adjust: none; /* for other mobile browsers */
	font-family: 'Cabin', sans-serif;
}

body {
	height: 100vh;
	max-height: -webkit-fill-available;
	margin: 0;
	background-color: var(--lighter);
    background-color: #f2eee2;
    color: #000000;
    transition: background-color 0.3s
}
body.dark-theme {
    background-color: #242424;
    color: #d4d6db;
}

img {
	display: block;
	max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
	list-style: none;
}

menu,
ol,
ul {
	padding-left: 0;
}

article ol,
article ul {
	list-style-position: inside;
}

a {
	/* Places underlines below the descenders */
	text-underline-position: under;

	/* Sets the thickness as a percentage of the font size */
	text-decoration-thickness: 8;
}


@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

:focus:not(:focus-visible) {
	outline: none;
}


label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
	cursor: pointer;
}
